@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root{
    --header-height: 15vh;

    /* Color */
    --first-color: rgb(207, 228, 252);
    --second-color: rgb(69, 128, 191);
    --third-color: rgb(9, 34, 59);
    --fourth-color: rgb(33, 72, 113);
    --light-color: rgb(25, 92, 180);
    --hover-color: rgb(225, 180, 33);

    --red-color: rgb(252, 98, 85);
    --green-color: rgb(131, 193, 103);
    --blue-color: rgb(88, 196, 221);
    --gold-color: rgb(240, 172, 95);
    --yellow-color: rgb(244, 211, 69);
    --purple-color: rgb(154, 114, 172);

    /* Font */
    --body-font: 'Inconsolata', sans-serif;
    --title-font: 'Montserrat', sans-serif;
    --normal-font-size: .92rem;
    --big-font-size: 1.2rem;
    --large-font-size: 2.5rem;
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 900;

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* Responsive Variable */
@media screen and (min-width: 1024px){
    :root{
        --normal-font-size: 1rem;
    }
}
@media screen and (max-width: 800px){
    :root{
        --normal-font-size: .8rem;
    }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: white;
  min-height: 100vh;
}

.black-bg{
    display: flex;
    background-color: black;
    z-index: 1;
}

/* MAIN */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about{
  padding-top: calc(var(--header-height) + 3vh);
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 3vh;
}
.content{
  background: var(--first-color);
  width: 100%;
  position: relative;
  padding: 3vh;
  border-radius: 8px;
  margin: 2vh auto;
  z-index: 0;
}
.about .title{
    font-size: 38px;
    font-weight: var(--font-bold);
    color: var(--second-color);
    text-align: center;
}
.about p{
    line-height: 1.5em;
    text-align: justify;
    color: var(--third-color);
    font-family: var(--body-font);
    font-weight: var(--font-regular);
}

.seat__info i.ri-square-fill {
    font-size: 16px;
}
 
.about i#red{
    color: var(--red-color);
}
.about i#green{
    color: var(--green-color);
}
.about i#blue{
    color: var(--blue-color);
}
.about i#gold{
    color: var(--gold-color);
}
.about i#yellow{
    color: var(--yellow-color);
}
.about i#black{
    color: #000;
}
.about i#purple{
    color: var(--purple-color);
}

.lineh{
    width: auto;
    margin: 0 auto;
    padding: 5px 0;
    border-radius: 5px;
    border-bottom: 4px solid var(--first-color);
}

.seperator{
    padding: 1% 0;
}

.seats{
    background-color: #ccccec;
    border-radius: 8px;
}

.seat__info{
    display: flex;
    justify-content: flex-start;
    margin: 5px 0;
    overflow-x: auto;
    background-color: #ccccec;
    padding: 1%;
    border-radius: 8px;
}

.seat__info span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 24px;
}

.event__info{
    margin: 1%;
}

/* table */
table{
    width: 100%;
}

table, td, th{
    border: none !important;
}

th{
    font-weight: bold;
    color: var(--third-color);
}

td{
    font-weight: 500;
    color: var(--second-color);
}

td, th{
    padding: 1%;
    text-align: center;
    align-items: center;
}

/* FORM */
.form{
    background: var(--first-color);
    width: 80%;
    position: relative;
    margin: 5vh auto;
    padding: 5vh;
    border-radius: 16px;
}

.form p{
    text-align: center;
}

.form__equation{
    color: var(--third-color);
    font-size: 2em;
}

.form__result .form__equation{
    font-size: 1.2em;
}

.form .eq-align{
    display: flex;
    justify-content: center;
}

.eq-align .form__equation{
    text-align: left;
}

table label{
    font-size: 2rem;
}

td input{
    display: flex;
    width: 100%;
    height: 90%;
    padding: 1vh;
    font-size: 1rem;
}

.form td{
    color: var(--third-color);
}

@media screen and (max-width: 600px) {
    .form{
        margin: 2vh auto;
        padding: 1vh;
    }
    .form__equation{
        font-size: 1em;    
    }
    table label, table p{
        font-size: 1rem;
    }
    .form p{
        font-size: 0.5em;
    }
    td input{
        height: 70%;
        padding: 0.5vh;
        font-size: 0.5em;
    }
}

button{
    padding: 0;
    color: white;
    cursor: pointer;
}

.table{
    height: 40vh;
    margin: 5vh 0 5vh 0;
    overflow: auto;
}

.circle-image {
    width: 80%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    max-width: 20vw;
}

.table__flex{
    display: flex;
    flex-wrap: nowrap;
}

#A{
    margin-top: 44px;
}

#VVIP{
    margin-top: 28px;
}

/* #E{
    margin-top: 34px;
} */


/* .table__flex.vvip{
    
} */

.imageLayout{
    display: flex;
    margin: 0 auto 0 auto;
    max-width: 60vw;
}


.table__side tbody tr td div button{
    margin: 1px;
    border: none;
    padding: 1%;
    width: 35px;
}

.table__mid tbody tr td div button{
    margin: 1px;
    padding: 1%;
    border: none;
    width: 35px;
}

.justify-end{
    justify-content: end;
}

#table__mother{
    display: flex;
}

#table__mother button{
    border-radius: 8px;
}

/* .table__right, .table__center, .table__left{
    display: flex;
} */

.table__panggung{
    margin: 0 auto 0 600px;
    background-color: crimson;
    width: 1000px;
    height: 100px;
    color: var(--first-color);
    font-size: 3vh;
}

.input-group {
    display: flex;
    align-content: stretch;
}
  
.input-group > input {
    flex: 1 0 auto;
    padding: 0 0 0 3vh;
}

.input-group-addon {
    background: #eee;
    border: 1px solid #ccc;
    padding: 0.5em 1em;
}


.donate{
    padding: 5vh;
    color: var(--fourth-color);
    height: 30vh;
}

.donate h1{
    margin: 0 0 3vh 0;
}


#donate-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3vh auto 3vh auto;
    transition: 0.5s ease-in-out;
    color: var(--fourth-color);
    background-color: var(--gold-color);
    border: none;
    width: 14.5vh;
    height: 4.5vh;
    border-radius: 8px;
    box-shadow: none;
    font-size: 20px;
}

#donate-button:hover{
    width: 15vh;
    height: 4.5vh;
    -webkit-box-shadow: -1px 13px 41px -20px rgba(66, 68, 90, 1);
    -moz-box-shadow: -1px 13px 41px -20px rgba(66, 68, 90, 1);
    box-shadow: -1px 13px 41px -20px rgba(66, 68, 90, 1);
    font-size: 23px;
}


.about{
    min-height: 90vh;
}

.footer{
    background-color: var(--CC-blue);
}

.carousel .slide img {
    max-height: 100vh;  /* change this to whatever you want */
    width: auto;
}


hr{
    border: 0.25vh solid var(--second-color);
    margin: 0.75vh 0 0.75vh 0;
}

.hook{
    background-color: var(--second-color);
    border-radius: 16px;
    margin: 5vh 10vw 2.5vh 10vw;
    padding: 1vh 2vw 1vh 2vw;
}

.hook p{
    display: flex;
    justify-content: center;
    color: var(--first-color);
}

.hook .lead{
    font-size: var(--big-font-size);
    color: var(--gold-color);
}

.content.about{
    padding: 3vh 1.5vw;
}

.content.success{
    background-color: var(--green-color);
    padding: 10vh 5vw 10vh 5vw;
}

.content.success span{
    display: flex;
    justify-content: space-between;
}

.content.success span strong{
    font-size: var(--big-font-size);
    color: #1bff76;
}

.content.success button{
    display: flex;
    margin: 3vh 0 0 auto;
    transition: all 0.25s ease-in-out;
    border: none;
    border-radius: 8px;
    background-color: var(--gold-color);
    padding: 1vh 1vw;
}

.content.success button a{
    color: var(--CC-blue);
}
.content.success button:hover{
    background-color: var(--red-color);
    color: var(--CC-blue);
    transform: scale(1.075);
}

.content.success h3{
    color: crimson; /* var(--red-color) is too bright. So I tuned it to crimson*/
}


.content.failure{
    padding: 5vh 5vw 5vh 5vw;
    background-color: rgba(255, 0, 0, 0.324);
}

.content.failure span{
    display: flex;
    justify-content: space-between;
}

.content.failure span strong{
    font-size: var(--big-font-size);
}

.content.failure button{
    display: flex;
    margin: 3vh 0 0 auto;
    transition: all 0.25s ease-in-out;
    border: none;
    border-radius: 8px;
    background-color: var(--gold-color);
    padding: 1vh 1vw;
}

.content.failure button a{
    color: var(--CC-blue);
}

.content.failure button:hover{
    background-color: var(--red-color);
    color: var(--CC-blue);
    transform: scale(1.075);
}

#about .content{
    padding: 3vh;
    margin: 5vh auto;
    max-width: 70vw;
}

#picture.content{
    margin-top: 0 !important;
}