.footer{
    background-color: var(--fourth-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 5vh 5vw;
}
.footer .social-icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
.footer .social-icon li{
    list-style: none;
}
.footer .social-icon li a{
    font-size: 2em;
    color: var(--first-color);
    margin: 0 1vw;
    display: inline-block;
    transition: 0.5s;
}
.footer .social-icon li a:hover{
    color: var(--hover-color);
    transform: translateY(-10px);
}
.footer img{
    height: 10vh;
    max-height: 100px;
    width: auto;
}
.footer p{
    color: #fff;
    text-align: center;
    margin: 1.2vh 0;
    font-size: .8em;
}